<div class="post-container">
  <form action="/quan-ly-tin/edit/{{data.id}}" method="post" class="dang-tin" id="mainForm" enctype="multipart/form-data" style="border: 2px solid rgb(21, 179, 247); border-radius: 15px; background-color: rgb(255, 255, 255); border-radius: 15px;">
    <h1 style="text-align: center;color:#de3a3a;font-weight:bold">Chỉnh sửa thông tin phòng</h1>
    
    <!-- Phần thêm ảnh -->
    <div class="them-anh">
      <h2>Thêm ảnh minh họa</h2>
      <input type="file" id="fileupload" name="fileupload" accept="image/*" onchange="previewImages()" multiple />
    </div>

    <div class="preview">
      {{#each (split data.imagePath ',')}}
        <a>
          <img src="{{this}}" class="img-fluid rounded-start" alt="{{title}}" style="width: 100px; height: auto; object-fit: contain; aspect-ratio: 1/1; padding:10px">
        </a>
      {{/each}}
    </div>

    <!-- Phần tiêu đề -->
    <div class="title">
      <h2>Tiêu đề</h2>
      <textarea class="form-control" name="title" rows="3" placeholder="Ví dụ: Cho thuê phòng trọ gần trường HVCNBCVT" required>{{data.title}}</textarea>
    </div>

    <!-- Phần địa chỉ -->
    <div class="dia-chi">
      <h2>Thông tin</h2>
      <button id="btndiachi" type="button" class="btn btn-outline-dark" style="width:200px">Địa chỉ</button>
      <div id="popupForm" class="popup" style="display: none;">
        <div class="popup-content form-control">
          <span class="closeBtn">×</span>
          <h2 class="diachi-popup">Địa chỉ</h2>
          <input class="form-control" type="text" id="sonha" name="sonha" placeholder="Số nhà" onchange="hienThiDiaChiXacNhan()" required="" value="{{data.address.sonha}}">
          <input class="form-control" type="text" id="tenduong" name="tenduong" onchange="hienThiDiaChiXacNhan()" required="" placeholder="Tên đường" value="{{data.address.tenduong}}">
          <input class="form-control" type="text" id="phuong" name="phuong" placeholder="Phường" onchange="hienThiDiaChiXacNhan()" required="" value="{{data.address.phuong}}">

          <!-- Dropdown chọn quận -->
          <div class="custom-select1">
            <select class="form-control" id="quan" name="quan" onchange="hienThiDiaChiXacNhan()" required="" style="margin-top:15px;height: 50px;">
              <option value="{{data.address.quan}}" selected>{{data.address.quan}}</option>
              <option value="">Chọn quận</option>
              <option value="Quận 1">Quận 1</option>
              <option value="Quận 3">Quận 3</option>
              <option value="Quận 4">Quận 4</option>
              <option value="Quận 5">Quận 5</option>
              <option value="Quận 6">Quận 6</option>
              <option value="Quận 7">Quận 7</option>
              <option value="Quận 8">Quận 8</option>
              <option value="Quận 10">Quận 10</option>
              <option value="Quận 11">Quận 11</option>
              <option value="Quận 12">Quận 12</option>
              <option value="Quận Tân Bình">Quận Tân Bình</option>
              <option value="Quận Bình Tân">Quận Bình Tân</option>
              <option value="Quận Bình Thạnh">Quận Bình Thạnh</option>
              <option value="Quận Thủ Đức">Quận Thủ Đức</option>
              <option value="Quận Gò Vấp">Quận Gò Vấp</option>
              <option value="Quận Phú Nhuận">Quận Phú Nhuận</option>
              </select>
          </div>

          <!-- Dropdown mặc định tỉnh -->
          <div class="custom-select1">
            <select class="form-control" id="thanhpho" name="thanhpho" onchange="hienThiDiaChiXacNhan()" required="" style="margin-top:15px;height: 50px;">
              <option value="{{data.address.thanhpho}}" selected>{{data.address.thanhpho}}</option>
              <option value="TP.Hồ Chí Minh">TP.Hồ Chí Minh</option>
              <!-- Thêm các tỉnh/thành phố khác ở đây -->
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="dia-chi-xac-nhan" style="margin-top:15px">
      <h2>Địa chỉ xác nhận:</h2>
      <input class="form-control" name="address" id="diaChiXacNhan" readonly="" placeholder="Địa chỉ" value="{{data.addres}}">
    </div>

    <!-- Phần diện tích và giá thuê -->
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="area">Diện tích sử dụng (m²)</label>
        <input type="number" class="form-control" id="area" name="area" placeholder="Diện tích sử dụng (m²)" value="{{data.area}}" required>
      </div>
      <div class="form-group col-md-6">
        <label for="price">Giá thuê (VND/tháng)</label>
        <input type="number" class="form-control" id="price" name="price" placeholder="Giá thuê" value="{{data.price}}" required>
      </div>
    </div>

    <!-- Phần mô tả -->
    <div class="mo-ta">
      <h2>Mô tả</h2>
      <textarea class="form-control" name="description" rows="5" placeholder="Nội dung mô tả" required>{{data.des}}</textarea>
    </div>

    <!-- Nút submit -->
    <div style="text-align:center;">
      <button class="btn btn-outline-danger" id="submitButton" type="submit" style="margin-top:20px;" data-id="{{data.id}}">Cập nhật</button>
    </div>
  </form>

<div class="nut-div" style="height: 400px; position: sticky; top: 20px; border: 2px solid rgb(21, 179, 247);">
<div style="position: sticky; top: 50px;">
    <div style="padding-left:50px;padding-top:30px">
      <div style="display: flex; justify-content: center;margin-left:-50px;">
        <div style="display:flex">
          <img src="https://i.pinimg.com/736x/21/91/6e/21916e491ef0d796398f5724c313bbe7.jpg"
            style="width:40px;border-radius:25px">
          <a class="card-text"
            style="margin:auto;margin-left:10px;text-decoration:none;color:rgb(65, 65, 65)">{{{user.username}}}</a>
        </div>
      </div>
      <ul style="padding-top: 20px; list-style-type: none;">
        <li style="margin-left: -10px;  position: relative;">
          <a href="/thong-tin">
            <button type="button" class="btn btn-outline-primary" style="margin: 0;">
              <svg style="margin-bottom: 3px;" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                <path
                  d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
              </svg>
              Thông tin cá nhân
            </button>
            <hr style="border: none; border-top: 2px dotted black;width:250px;margin-left:-40px" />
          </a>
          <hr style="border-top: 1px dotted #ccc; margin: 0; position: absolute; left: 0; right: 0;">
        </li>
        <li style="margin-left: 20px; padding-bottom: 10px; position: relative;">
          <a href="/dang-tin">
            <button type="button" class="btn btn-outline-primary" style="margin: 0;">
              <svg style="margin-bottom: 4px;" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                fill="currentColor" class="ionicon" viewBox="0 0 512 512">
                <path d="M384 224v184a40 40 0 01-40 40H104a40 40 0 01-40-40V168a40 40 0 0140-40h167.48" fill="none"
                  stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
                <path
                  d="M459.94 53.25a16.06 16.06 0 00-23.22-.56L424.35 65a8 8 0 000 11.31l11.34 11.32a8 8 0 0011.34 0l12.06-12c6.1-6.09 6.67-16.01.85-22.38zM399.34 90L218.82 270.2a9 9 0 00-2.31 3.93L208.16 299a3.91 3.91 0 004.86 4.86l24.85-8.35a9 9 0 003.93-2.31L422 112.66a9 9 0 000-12.66l-9.95-10a9 9 0 00-12.71 0z" />
              </svg>
              Đăng tin
            </button>
          </a>
          <hr style="border-top: 1px dotted #ccc; margin: 0; position: absolute; left: 0; right: 0;">
        </li>
        <li style="margin-left: 13px;  position: relative;">
          <a href="/quan-ly-tin">
            <button type="button" class="btn btn-outline-primary" style="margin: 0;">
              <svg style="margin-bottom: 3px;" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                fill="currentColor" class="ionicon" viewBox="0 0 512 512">
                <rect x="96" y="48" width="320" height="416" rx="48" ry="48" fill="none" stroke="currentColor"
                  stroke-linejoin="round" stroke-width="32" />
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"
                  d="M176 128h160M176 208h160M176 288h80" />
              </svg>
              Quản lý tin
            </button>
            <hr style="border: none; border-top: 2px dotted black;width:250px;margin-left:-63px" />
          </a>
          <hr style="border-top: 1px dotted #ccc; margin: 0; position: absolute; left: 0; right: 0;">
        </li>
        <li style="margin-left: 25px; padding-bottom: 10px; position: relative;">
          <a href="/logout">
            <button type="button" class="btn btn-outline-danger" style="margin: 0;">Đăng xuất</button>
            <hr style="border: none; border-top: 2px dotted black;width:250px;margin-left:-75px" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>



<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Hiển thị địa chỉ khi trang tải lên
    var diaChiXacNhan = "{{data.addres}}";
    if (diaChiXacNhan) {
      var diaChiArray = diaChiXacNhan.split(',').map(function(item) {
        return item.trim();
      });

      if (diaChiArray.length === 5) {
        document.getElementById('sonha').value = diaChiArray[0] || '';
        document.getElementById('tenduong').value = diaChiArray[1] || '';
        document.getElementById('phuong').value = diaChiArray[2] || '';
        var selectElement = document.getElementById("quan");
        selectElement.value = diaChiArray[3] || '';
        document.getElementById('thanhpho').value = diaChiArray[4] || '';
      }
    }

    // Mở form nhập địa chỉ
    document.getElementById("btndiachi").addEventListener("click", function() {
      document.getElementById("popupForm").style.display = "block";
    });

    // Đóng form nhập địa chỉ
    document.querySelector(".closeBtn").addEventListener("click", function() {
      document.getElementById("popupForm").style.display = "none";
    });

    window.addEventListener("click", function(event) {
      var popup = document.getElementById("popupForm");
      if (event.target == popup) {
        popup.style.display = "none";
      }
    });

    function previewImages() {
      var preview = document.querySelector('.preview');
      var files = document.querySelector('input[type=file]').files;

      preview.innerHTML = '';

      for (var i = 0; i < files.length; i++) {
        var file = files[i];
        var reader = new FileReader();

        reader.onload = function(event) {
          var image = new Image();
          image.src = event.target.result;
          image.style.width = '100px';
          image.style.height = 'auto';
          image.style.margin = '10px';

          preview.appendChild(image);
        }

        reader.readAsDataURL(file);
      }
    }

    function hienThiDiaChiXacNhan() {
      var sonha = document.getElementById('sonha').value;
      var tenduong = document.getElementById('tenduong').value;
      var phuong = document.getElementById('phuong').value;
      var quan = document.getElementById('quan').value;
      var thanhpho = document.getElementById('thanhpho').value;

      var diaChiXacNhan = `${sonha}, ${tenduong}, ${phuong}, ${quan}, ${thanhpho}`;
      document.getElementById('diaChiXacNhan').value = diaChiXacNhan;
    }
    
    document.querySelectorAll('.form-control').forEach(function(input) {
      input.addEventListener('change', hienThiDiaChiXacNhan);
    });

    const editButtons = document.querySelectorAll(".submitButton");

    submitButton.addEventListener("click", function(event) {
      event.preventDefault();
      const propertyId = submitButton.getAttribute("data-id");

      const formData = new FormData(document.getElementById("mainForm"));
      const xhr = new XMLHttpRequest();
      xhr.open("POST", `/quan-ly-tin/edit/${propertyId}`, true);
      xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          if (xhr.status === 200) {
            showNotification("Cập nhật thành công", "success");
            setTimeout(() => {
              window.location.href = "/quan-ly-tin";
            }, 2000);
          } else {
            showNotification("Cập nhật thất bại", "danger");
          }
        }
      };
      xhr.send(formData);
    });
  });
</script>
