<div  class="searchbox-div" style="">
  <div>
      <div style="display: flex; gap: 10px; justify-content: center;padding:20px">
      
      <div class="custom-select" style="margin: auto;">
        <select name="tinh" form="searchform">
          <option value="TP.Hồ Chí Minh">TP.Hồ Chí Minh</option>         
        </select>
      </div>

      <div class="custom-select" style="margin: auto;">
        <select name="quan" form="searchform">
            <option value="">Chọn quận</option>
            <option value="Quận 1">Quận 1</option>
            <option value="Quận 3">Quận 3</option>
            <option value="Quận 4">Quận 4</option>
            <option value="Quận 5">Quận 5</option>
            <option value="Quận 6">Quận 6</option>
            <option value="Quận 7">Quận 7</option>
            <option value="Quận 8">Quận 8</option>
            <option value="Quận 10">Quận 10</option>
            <option value="Quận 11">Quận 11</option>
            <option value="Quận 12">Quận 12</option>
            <option value="Quận Tân Bình">Quận Tân Bình</option>
            <option value="Quận Bình Tân">Quận Bình Tân</option>
            <option value="Quận Bình Thạnh">Quận Bình Thạnh</option>
            <option value="Quận Thủ Đức">Quận Thủ Đức</option>
            <option value="Quận Gò Vấp">Quận Gò Vấp</option>
            <option value="Quận Phú Nhuận">Quận Phú Nhuận</option>
        </select>
      </div>

      <div class="custom-select" style="margin: auto;">
        <select name="gia" form="searchform">
          <option value="">Chọn giá</option>
          <option value="0-1500000">Dưới 1,5 triệu</option>
          <option value="1500000-2000000">Từ 1,5 đến 2 triệu</option>
          <option value="2000000-2500000">Từ 2 đến 2,5 triệu</option>
          <option value="2500000-3000000">Từ 2,5 đến 3 triệu</option>
          <option value="3000000-4000000">Từ 3 đến 4 triệu</option>
          <option value="4000000-5000000">Từ 4 đến 5 triệu</option>
          <option value="5000000-100000000000">Từ 5 triệu trở lên</option>
        </select>
      </div>

      <div class="custom-select" style="margin: auto;">
        <select name="dientich" form="searchform">
          <option value="">Chọn diện tích</option>
          <option value="0-20">Dưới 20m2</option>
          <option value="20-30">Từ 20 đến 30m2</option>
          <option value="30-50">Từ 30 đến 50m2</option>
          <option value="50-70">Từ 50 đến 70m2</option>
          <option value="70-90">Từ 70 đến 90m2</option>
          <option value="90-1000000">Từ 90m2 trở lên</option>
        </select>
      </div>
    </div>
  </div>
  <div style="text-align: center;padding-bottom:20px">
    <form action="/tim-phong" id="searchform">
      <button type="submit" class="btn btn-primary btn-lg">Tìm phòng ngay</button>
    </form>
</div>
</div>

<div class="post-container" >
  <div class="post-div">
    {{#each data}}

    <div class="" style="background-color: rgb(255, 255, 255);border-radius:15px;; border: 2px solid rgb(21, 179, 247);">
      <div class="row g-0" style="position:relative">
      <div class="col-md-4">
        {{#each (split imagePath ',')}}
          {{#if (isFirst @index)}}
            <a>
              <img src="{{this}}" class="img-fluid rounded-start" alt="{{title}}"
                  style="width: 100%; height: 100%; object-fit: contain; aspect-ratio: 1/1; padding:10px">
            </a>
          {{else}}
            <img src="{{this}}" class="img-fluid rounded-start" alt="{{title}}"
                style="display: none; width: 100%;height: 100%; object-fit: contain; aspect-ratio: 1/1; padding:10px">
          {{/if}}
        {{/each}}
      </div>
    <div class="col-md-8" style="padding: 20px;">
          <div class="card-body">
            <h4 class="card-title" style=""><a href="/post/{{username}}/{{id}}/{{title}}">{{title}}</a></h4>
            <p class="card-text" style="color:rgb(224, 28, 2); margin-top:20px;font-weight:bold">Giá: {{price}}đ/tháng
            </p>
            <p class="card-text">Diện tích: {{area}}m2</p>
            <p class="card-text">Địa chỉ: {{addres}}</p>
            <div style="position:absolute;bottom:20px; display:flex">
              <img src="https://i.pinimg.com/736x/21/91/6e/21916e491ef0d796398f5724c313bbe7.jpg"
                style="width:40px;border-radius:25px">
              <a class="card-text"
                style="margin:auto;margin-left:10px;text-decoration:none;color:rgb(65, 65, 65)">{{username}}</a>
            </div>
            <div style="position:absolute;bottom:20px;right:50px">
              <a href="/post/{{username}}/{{id}}/{{title}}"><button type="button" class="btn btn-primary" style="mari">Xem chi tiết</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{/each}}
  </div>
  <div class="loc-div">
    <div style="position: sticky;top: 50px;">
      <div class="loc-gia" style="background-color: rgb(255, 255, 255); border-radius:15px; ; border: 2px solid rgb(21, 179, 247); ">
        <h3 style="padding: 15px 0 0 20px;">Xem theo giá</h3>
        <div style="display: flex" class="ds-locgia">
          <ul style="list-style-type: '> ';margin-left:20px;margin-right:10px">
            <li><a href="/tim-phong?tinh=TP.Hồ%20Chí%20Minh&quan=&minPrice=0&maxPrice=1500000&minArea=undefined&maxArea=undefined">Dưới 1,5 triệu</a></li>
            <li><a href="/tim-phong?quan=&minPrice=1500000&maxPrice=2000000&minArea=undefined&maxArea=undefined">Từ 1,5 đến 2 triệu</a></li>
            <li><a href="/tim-phong?tinh=TP.Hồ%20Chí%20Minh&quan=&minPrice=2000000&maxPrice=2500000&minArea=undefined&maxArea=undefined">Từ 2 đến 2,5 triệu</a></li>
            <li><a href="/tim-phong?quan=&minPrice=2500000&maxPrice=3000000&minArea=undefined&maxArea=undefined">Từ 2,5 đến 3 triệu</a></li>
          </ul>
          <ul style="list-style-type: '> ';margin-left:20px;margin-right:20px">
            <li><a href="/tim-phong?quan=&minPrice=3000000&maxPrice=4000000&minArea=undefined&maxArea=undefined">Từ 3 đến 4 triệu</a></li>
            <li><a href="/tim-phong?quan=&minPrice=4000000&maxPrice=5000000&minArea=undefined&maxArea=undefined">Từ 4 đến 5 triệu</a></li>
            <li><a href="/tim-phong?quan=&minPrice=4000000&maxPrice=5000000&minArea=undefined&maxArea=undefined">Trên 5 triệu</a></li>
          </ul>
        </div>
      </div>

      <div class="loc-gia" style="background-color: rgb(255, 255, 255); border-radius:15px; margin-top:20px; border: 2px solid rgb(21, 179, 247);">
        <h3 style="padding: 15px 0 0 20px;">Xem theo diện tích</h3>
        <div style="display: flex" class="ds-locgia">
          <ul style="list-style-type: '> ';margin-left:20px;margin-right:10px">
            <li><a href="/tim-phong?quan=&minPrice=undefined&maxPrice=undefined&minArea=0&maxArea=20">Dưới 20m2</a></li>
            <li><a href="/tim-phong?quan=&minPrice=undefined&maxPrice=undefined&minArea=20&maxArea=30">Từ 20 đến 30m2</a></li>
            <li><a href="/tim-phong?quan=&minPrice=undefined&maxPrice=undefined&minArea=30&maxArea=50">Từ 30 đến 50m2</a></li>
          </ul>
          <ul style="list-style-type: '> ';margin-left:32px">
            <li><a href="/tim-phong?quan=&minPrice=undefined&maxPrice=undefined&minArea=50&maxArea=70">Từ 50 đến 70m2</a></li>
            <li><a href="/tim-phong?quan=&minPrice=undefined&maxPrice=undefined&minArea=70&maxArea=90">Từ 70 đến 90m2</a></li>
            <li><a href="/tim-phong?quan=&minPrice=undefined&maxPrice=undefined&minArea=90&maxArea=1000000">Trên 90m2</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

document.addEventListener('DOMContentLoaded', function() {
    const searchform = document.getElementById('searchform');
    const searchButton = document.querySelector('button[type="submit"]');

    searchButton.addEventListener('click', function(event) {
        event.preventDefault();

        const tinh = document.querySelector('select[name="tinh"]').value;
        const quan = document.querySelector('select[name="quan"]').value;
        const gia = document.querySelector('select[name="gia"]').value;
        const dientich = document.querySelector('select[name="dientich"]').value;

        const giaDropdown = document.querySelector('select[name="gia"]');
        let minPrice, maxPrice;

        if (gia) {
            const parts = gia.split('-');
            if (parts.length === 1) {
                minPrice = parseFloat(parts[0].replace(',', '.'));
                maxPrice = null;
            } else if (parts.length === 2) {
                minPrice = parseFloat(parts[0].replace(',', '.'));
                maxPrice = parseFloat(parts[1].replace(',', '.'));
            }
        }

        const dientichDropdown = document.querySelector('select[name="dientich"]');
        let minArea, maxArea;

        if (dientich) {
            const parts = dientich.split('-');
            if (parts.length === 1) {
                minArea = parseFloat(parts[0]);
                maxArea = null;
            } else if (parts.length === 2) {
                minArea = parseFloat(parts[0]);
                maxArea = parseFloat(parts[1]);
            }
        }

        window.location.href = `/tim-phong?quan=${quan}&minPrice=${minPrice}&maxPrice=${maxPrice}&minArea=${minArea}&maxArea=${maxArea}`;
    });
});

</script>
