<div id="list-post">
  {{#each data}}
    <img src="{{image}}" alt="{{title}}">
    <h1><a href="/post/{{title}}">{{title}}</a></h1>
    <h3>{{addres}}</h3>
    <h3>{{area}}m2</h3>
    <h3>{{price}}</h3>
    <p>{{{des}}}</p>
  {{/each}}
</div>