<div class="post-container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tiêu đề</th>
        <th>Ảnh</th>
        <th>Địa chỉ</th>
        <th>Diện tích (m2)</th>
        <th>Giá (VND)</th>
        <th>Mô tả</th>
        <th>Trạng thái</th>
        <th>Hành động</th>
      </tr>
    </thead>
    <tbody>
      {{#each data}}
        <tr>
          <td>{{id}}</td>
          <td>{{title}}</td>
          <td>
            <div class="col-md-4">
              {{#each (split imagePath ',')}}
                {{#if (isFirst @index)}}
                  <a>
                    <img src="{{this}}" class="img-fluid rounded-start" alt="{{title}}"
                        style="width: 100%; height: 100%; object-fit: contain; aspect-ratio: 1/1; padding:10px">
                  </a>
                {{else}}
                  <img src="{{this}}" class="img-fluid rounded-start" alt="{{title}}"
                      style="display: none; width: 100%;height: 100%; object-fit: contain; aspect-ratio: 1/1; padding:10px">
                {{/if}}
              {{/each}}
            </div>
          </td>
          <td>{{addres}}</td>
          <td>{{area}}</td>
          <td>{{price}}</td>
          <td>{{{des}}}</td>
          <td>{{status}}</td>
          <td>
            <a href="/quan-ly-tin/manage/{{username}}/{{id}}/{{title}}" class="btn btn-outline-danger viewButton" data-username="{{username}}" data-id="{{id}}" data-title="{{title}}">Xem</a>
            <a href="/quan-ly-tin/edit/{{id}}" class="btn btn-outline-danger editButton" data-id="{{id}}">Sửa</a>
            <a href="javascript:void(0);" class="btn btn-outline-danger deleteButton" data-id="{{id}}">Xóa</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <div class="nut-div" style="height: 400px; position: sticky; top: 20px; border: 2px solid rgb(21, 179, 247);">
<div style="position: sticky; top: 50px;">
    <div style="padding-left:50px;padding-top:30px">
      <div style="display: flex; justify-content: center;margin-left:-50px;">
        <div style="display:flex">
          <img src="https://i.pinimg.com/736x/21/91/6e/21916e491ef0d796398f5724c313bbe7.jpg"
            style="width:40px;border-radius:25px">
          <a class="card-text"
            style="margin:auto;margin-left:10px;text-decoration:none;color:rgb(65, 65, 65)">{{{user.username}}}</a>
        </div>
      </div>

      <ul style="padding-top: 20px; list-style-type: none;">
        <li style="margin-left: -10px;  position: relative;">
          <a href="/thong-tin">
            <button type="button" class="btn btn-outline-primary" style="margin: 0;">
              <svg style="margin-bottom: 3px;" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                <path
                  d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
              </svg>
              Thông tin cá nhân
            </button>
            <hr style="border: none; border-top: 2px dotted black;width:250px;margin-left:-40px" />
          </a>
          <hr style="border-top: 1px dotted #ccc; margin: 0; position: absolute; left: 0; right: 0;">
        </li>
        <li style="margin-left: 20px; padding-bottom: 10px; position: relative;">
          <a href="/dang-tin">
            <button type="button" class="btn btn-outline-primary" style="margin: 0;">
              <svg style="margin-bottom: 4px;" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                fill="currentColor" class="ionicon" viewBox="0 0 512 512">
                <path d="M384 224v184a40 40 0 01-40 40H104a40 40 0 01-40-40V168a40 40 0 0140-40h167.48" fill="none"
                  stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
                <path
                  d="M459.94 53.25a16.06 16.06 0 00-23.22-.56L424.35 65a8 8 0 000 11.31l11.34 11.32a8 8 0 0011.34 0l12.06-12c6.1-6.09 6.67-16.01.85-22.38zM399.34 90L218.82 270.2a9 9 0 00-2.31 3.93L208.16 299a3.91 3.91 0 004.86 4.86l24.85-8.35a9 9 0 003.93-2.31L422 112.66a9 9 0 000-12.66l-9.95-10a9 9 0 00-12.71 0z" />
              </svg>
              Đăng tin
            </button>
          </a>
          <hr style="border-top: 1px dotted #ccc; margin: 0; position: absolute; left: 0; right: 0;">
        </li>
        <li style="margin-left: 13px;  position: relative;">
          <a href="/quan-ly-tin">
            <button type="button" class="btn btn-outline-primary" style="margin: 0;">
              <svg style="margin-bottom: 3px;" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                fill="currentColor" class="ionicon" viewBox="0 0 512 512">
                <rect x="96" y="48" width="320" height="416" rx="48" ry="48" fill="none" stroke="currentColor"
                  stroke-linejoin="round" stroke-width="32" />
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"
                  d="M176 128h160M176 208h160M176 288h80" />
              </svg>
              Quản lý tin
            </button>
            <hr style="border: none; border-top: 2px dotted black;width:250px;margin-left:-63px" />
          </a>
          <hr style="border-top: 1px dotted #ccc; margin: 0; position: absolute; left: 0; right: 0;">
        </li>
        <li style="margin-left: 25px; padding-bottom: 10px; position: relative;">
          <a href="/logout">
            <button type="button" class="btn btn-outline-danger" style="margin: 0;">Đăng xuất</button>
            <hr style="border: none; border-top: 2px dotted black;width:250px;margin-left:-75px" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>



<script>
  document.addEventListener("DOMContentLoaded", function() {
    const viewButtons = document.querySelectorAll(".viewButton");
    const deleteButtons = document.querySelectorAll(".deleteButton");
    const editButtons = document.querySelectorAll(".editButton");

    // View button click event
    viewButtons.forEach(function(button) {
      button.addEventListener("click", function(event) {
        event.preventDefault();
        const username = button.getAttribute("data-username");
        const title = button.getAttribute("data-title");
        const id = button.getAttribute("data-id");
        window.location.href = `/quan-ly-tin/manage/${username}/${id}/${title}`;
      });
    });

    // Delete button click event
    deleteButtons.forEach(function(button) {
      button.addEventListener("click", function(event) {
        event.preventDefault();
        const propertyId = button.getAttribute("data-id");
        if (confirm("Bạn có chắc chắn muốn xóa bài viết này?")) {
          const xhr = new XMLHttpRequest();
          xhr.open("DELETE", `/quan-ly-tin/delete/${propertyId}`, true);
          xhr.setRequestHeader("Content-Type", "application/json");
          xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
              if (xhr.status === 200) {
                showNotification("Xóa thành công", "success");
                setTimeout(() => location.reload(), 2000);
              } else {
                showNotification("Xóa thất bại", "danger");
              }
            }
          };
          xhr.send();
        }
      });
    });

    // Edit button click event
    editButtons.forEach(function(button) {
      button.addEventListener("click", function(event) {
        event.preventDefault();
        const propertyId = button.getAttribute("data-id");
        window.location.href = `/quan-ly-tin/edit/${propertyId}`;
      });
    });

    function populateForm(property) {
      document.querySelector("input[name='title']").value = property.title;
      document.querySelector("input[name='address']").value = property.address;
      document.querySelector("input[name='area']").value = property.area;
      document.querySelector("input[name='price']").value = property.price;
      document.querySelector("textarea[name='description']").value = property.description;
      document.getElementById("mainForm").action = `/quan-ly-tin/edit/${property.id}`;
      document.getElementById("submitButton").textContent = "Cập nhật";
    }

    const closeIcons = document.querySelectorAll('.xd-message .close-icon');
    closeIcons.forEach(function(closeIcon) {
      closeIcon.addEventListener('click', function() {
        this.parentNode.parentNode.classList.add('hide');
      });
    });
  });


</script>