<div class="tai-khoan">
    <h3 style="text-align: center;">Danh sách bài đăng</h3>
    
    <div class="ds-tk" style="margin-top:20px">
        <table class="table table-success table-striped-columns">
            <thead>
                <tr>
                    <th scope="col" style="width:60%">Tiêu đề</th>
                    <th scope="col" style="width:15%">Thông tin</th>
                    <th scope="col" style="width:20%">Trạng thái</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#if data}}
                    {{#each data}}
                        <tr>
                            <td><div style="margin-left: 20px;margin-top:5px">{{this.title}}</div></td>
                            <td>
                                <a href="/post/{{username}}/{{id}}/{{title}}" class="btn btn-outline-danger">Xem</a>
                            </td>
                            <td>
                                <a href="javascript:void(0);" class="btn btn-outline-danger changeButton" data-id="{{this.id}}">{{this.status}}</a>
                            </td>
                            <td>
                                <a href="javascript:void(0);" class="btn btn-outline-danger deleteButton" data-id="{{this.id}}">Xóa</a>
                            </td>
                        </tr>
                    {{/each}}
                {{else}}
                    <td>Không có bài đăng</td>
                {{/if}}
            </tbody>
        </table>
    </div>
</div>
<form class="form-quyen"></form>
<script>

    var btnThongTins = document.querySelectorAll(".btn-thongtin");
    var closeBtns = document.querySelectorAll(".closeBtn");

    btnThongTins.forEach(function(btnThongTin, index) {
        btnThongTin.style.marginLeft = "-10px";
        btnThongTin.onclick = function() {
            var popupForm = document.querySelectorAll(".popupForm")[index];
            popupForm.style.display = "block";
        };
    });

    closeBtns.forEach(function(closeBtn) {
        closeBtn.onclick = function() {
            var popupForm = closeBtn.closest(".popupForm");
            popupForm.style.display = "none";
        };
    });

    document.addEventListener("DOMContentLoaded", function() {
        const deleteButtons = document.querySelectorAll(".deleteButton");

        deleteButtons.forEach(function(button) {
            button.addEventListener("click", function(event) {
                event.preventDefault();
                const propertyId = button.getAttribute("data-id");
                if (confirm("Bạn có chắc chắn muốn xóa?")) {
                    const xhr = new XMLHttpRequest();
                    xhr.open("DELETE", `/admin/quan-ly-bai-dang/delete/${propertyId}`, true);
                    xhr.setRequestHeader("Content-Type", "application/json");
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState === XMLHttpRequest.DONE) {
                            if (xhr.status === 200) {
                                showNotification("Xóa thành công", "success");
                                setTimeout(() => location.reload(), 2000);
                            } else {
                                showNotification("Xóa thất bại", "danger");
                            }
                        }
                    };
                    xhr.send();
                }
            });
        });

        const changeButton = document.querySelectorAll(".changeButton");

        changeButton.forEach(function(button) {
            button.addEventListener("click", function(event) {
                event.preventDefault();
                const propertyId = button.getAttribute("data-id");
                if (confirm("Bạn có chắc chắn muốn đổi?")) {
                    const xhr = new XMLHttpRequest();
                    xhr.open("POST", `/admin/quan-ly-bai-dang/change/${propertyId}`, true);
                    xhr.setRequestHeader("Content-Type", "application/json");
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState === XMLHttpRequest.DONE) {
                            if (xhr.status === 200) {
                                showNotification("Thay đổi thành công", "success");
                                setTimeout(() => location.reload(), 2000);
                            } else {
                                showNotification("Thay đổi thất bại", "danger");
                            }
                        }
                    };
                    xhr.send();
                }
            });
        });
    });

</script>