<div class="tai-khoan">
    <h3 style="text-align: center;">Danh sách bài đăng</h3>
    
        <form class="form-search timtk input-group"action="/admin/tai-khoan/timkiem" >
            <input type="text" class="form-control" placeholder="Nhập tiêu đề" name="title">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="bi bi-search "></i></button>
            </span>
        </form>
    
    <div class="ds-tk" style="margin-top:20px">
        <table class="table table-success table-striped-columns">
            <thead>
                <tr>
                    <th scope="col" style="width:60%">Tiêu đề</th>
                    <th scope="col" style="width:15%">Thông tin</th>
                    <th scope="col" style="width:20%">Trạng thái</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#if baidang}}
                    {{#each baidang}}
                        <tr>
                            <td><div style="margin-left: 20px;margin-top:5px">{{this.title}}</div></td>
                            <td>
                                <button type="button" class="btn btn-outline-dark btn-thongtin">Thông tin</button>
                            </td>
                            <td>
                                <button  type="button" class="btn btn-outline-dark btn-quyen openModal">{{this.status}}</button>
                                <button style="display: none;" type="button" class="btnquyen-user ">{{this.id}}</button>
                                    <div class="modal">
                                    <div class="modalContent">
                                    <span class="close">×</span>
                                    <p class="p">Bạn có chắc là muốn thay đổi trạng thái bài đăng này?</p>
                                    <button class="btnchuyen" >Xác nhận</button>
                                    <button class="btnhuy" >Hủy</button>
                                    </div>
                                    </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-xoa openModal1">Xóa</button>
                                <button style="display: none;" type="button" class="btnquyen-user1 ">{{this.id}}</button>
                                <div class="modal1">
                                    <div class="modalContent1">
                                    <span class="close1">×</span>
                                    <p class="p">Bạn có chắc là muốn xóa bài đăng này?</p>
                                    <button class="btnchuyen1" >Xác nhận</button>
                                    <button class="btnhuy1" >Hủy</button>
                                    </div>
                                    </div>
                            </td>
                        </tr>
                    {{/each}}
                {{else}}
                    <td>Không có bài đăng</td>
                {{/if}}
            </tbody>
        </table>
    </div>
</div>
<form class="form-quyen"></form>
<script>

    var btnThongTins = document.querySelectorAll(".btn-thongtin");
    var btnQuyens = document.querySelectorAll(".btn-quyen");
    var closeBtns = document.querySelectorAll(".closeBtn");

    btnThongTins.forEach(function(btnThongTin, index) {
        btnThongTin.style.marginLeft = "-10px";
        btnThongTin.onclick = function() {
            var popupForm = document.querySelectorAll(".popupForm")[index];
            popupForm.style.display = "block";
        };
    });

    closeBtns.forEach(function(closeBtn) {
        closeBtn.onclick = function() {
            var popupForm = closeBtn.closest(".popupForm");
            popupForm.style.display = "none";
        };
    });

    btnQuyens.forEach(function(btnQuyen) {
        btnQuyen.style.marginLeft = "-10px";
        btnQuyen.style.width = "90%";
    });

   

    
    var modal = document.querySelector(".modal");
    var btns = document.querySelectorAll(".openModal");
    var spans = document.querySelectorAll(".close");
    var form_quyen=document.querySelector(".form-quyen");
    var btnquyen_users=document.querySelectorAll(".btnquyen-user");
    var btnchuyens=document.querySelectorAll(".btnchuyen");
    var btnhuys=document.querySelectorAll(".btnhuy");
    btns.forEach(function(btn, index) {
        btn.style.width = "100%";
        btn.style.marginRight = "0px";
        btn.onclick = function() {
            var btnquyen_user = document.querySelectorAll(".btnquyen-user")[index];
            if(btn.innerHTML=="đang xử lý"){
                form_quyen.action="/admin/bai-dang/trangthai/"+btnquyen_user.innerHTML+"dang";
            }else{
                form_quyen.action="/admin/bai-dang/trangthai/"+btnquyen_user.innerHTML+"daaa";
            }
            modal.style.display = "block";
        };
    });
    spans.forEach(function(span) {
        span.onclick = function() {
            modal.style.display = "none";
        };
    });
    btnchuyens.forEach(function(btnchuyen) {
        btnchuyen.onclick = function() {
            
            form_quyen.submit();
        };
    });
    btnhuys.forEach(function(btnhuy) {
        btnhuy.onclick = function() {
            modal.style.display = "none";
        };
    });
   window.onclick = function(event) {
      if (event.target == modal) {
         hideModal();
      }
   };
   var modal1 = document.querySelector(".modal1");
    var btns1 = document.querySelectorAll(".openModal1");
    var spans1 = document.querySelectorAll(".close1");
    //var form_quyen=document.querySelector(".form-quyen");
    var btnchuyens1=document.querySelectorAll(".btnchuyen1");
    var btnhuys1=document.querySelectorAll(".btnhuy1");

    btns1.forEach(function(btn, index) {
        btn.onclick = function() {
            var btnquyen_user = document.querySelectorAll(".btnquyen-user1")[index];
            form_quyen.action="/admin/bai-dang/xoa/"+btnquyen_user.innerHTML;
            modal1.style.display = "block";
        };
    });
    spans1.forEach(function(span) {
        span.onclick = function() {
            modal1.style.display = "none";
        };
    });
    btnchuyens1.forEach(function(btnchuyen) {
        btnchuyen.onclick = function() {
            form_quyen.submit();
        };
    });
    btnhuys1.forEach(function(btnhuy) {
        btnhuy.onclick = function() {
            modal1.style.display = "none";
        };
    });
</script>
