<div class="tai-khoan">
    <h3 style="text-align: center;">Danh sách tài khoản</h3>
    
        <form class="form-search timtk input-group"action="/admin/tai-khoan/timkiem" >
            <input type="text" class="form-control" placeholder="Nhập tên tài khoản" name="user">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="bi bi-search "></i></button>
            </span>
        </form>
    
    <div class="ds-tk" style="margin-top:20px">
        <table class="table table-success table-striped-columns">
            <thead>
                <tr>
                    <th scope="col" style="width:60%">Tên tài khoản</th>
                    <th scope="col">Thông tin</th>
                    <th scope="col">Quyền</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#if data}}
                    {{#each data}}
                        <tr>
                            <td><div style="margin-left: 20px;margin-top:5px">{{this.username}}</div></td>
                            <td>
                                <button type="button" class="btn btn-outline-dark btn-thongtin">Thông tin</button>
                                <div class="popupForm popup">
                                    <div class="popup-content form-control">
                                        <span class="closeBtn">&times;</span>
                                        <h2 style="text-align:center">Thông tin</h2>
                                        <label for="fullname">Họ và tên</label>
                                        <input class="form-control" id="fullname" value="{{this.fullname}}" readonly />
                                        <label for="id_card">CCCD</label>
                                        <input class="form-control" id="id_card" value="{{this.id_card}}" readonly/>
                                        <label for="phone">Số điện thoại</label>
                                        <input class="form-control" id="phone" value="0{{this.phone}}" readonly/>
                                        <label for="email">Email</label>
                                        <input class="form-control" id="email" value="{{this.email}}" readonly/>
                                        
                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="javascript:void(0);" class="btn btn-outline-danger changeButton" data-id="{{this.username}}">{{this.role}}</a>
                            </td>
                            <td>
                                <a href="javascript:void(0);" class="btn btn-outline-danger deleteButton" data-id="{{this.username}}">Xóa</a>
                            </td>
                        </tr>
                    {{/each}}
                {{else}}
                    <td>Không có tài khoản</td>
                {{/if}}
            </tbody>
        </table>
    </div>
</div>
<form class="form-quyen"></form>



<script>

    var btnThongTins = document.querySelectorAll(".btn-thongtin");
    var closeBtns = document.querySelectorAll(".closeBtn");
    

    btnThongTins.forEach(function(btnThongTin, index) {
        btnThongTin.style.marginLeft = "-10px";
        btnThongTin.onclick = function() {
            var popupForm = document.querySelectorAll(".popupForm")[index];
            popupForm.style.display = "block";
        };
    });

    closeBtns.forEach(function(closeBtn) {
        closeBtn.onclick = function() {
            var popupForm = closeBtn.closest(".popupForm");
            popupForm.style.display = "none";
        };
    });

    document.addEventListener("DOMContentLoaded", function() {
        const deleteButtons = document.querySelectorAll(".deleteButton");

        deleteButtons.forEach(function(button) {
            button.addEventListener("click", function(event) {
                event.preventDefault();
                const propertyId = button.getAttribute("data-id");
                if (confirm("Bạn có chắc chắn muốn xóa?")) {
                    const xhr = new XMLHttpRequest();
                    xhr.open("DELETE", `/admin/quan-ly-tai-khoan/delete/${propertyId}`, true);
                    xhr.setRequestHeader("Content-Type", "application/json");
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState === XMLHttpRequest.DONE) {
                            if (xhr.status === 200) {
                                showNotification("Xóa thành công", "success");
                                setTimeout(() => location.reload(), 2000);
                            } else {
                                showNotification("Xóa thất bại", "danger");
                            }
                        }
                    };
                    xhr.send();
                }
            });
        });

        const changeButton = document.querySelectorAll(".changeButton");

        changeButton.forEach(function(button) {
            button.addEventListener("click", function(event) {
                event.preventDefault();
                const propertyId = button.getAttribute("data-id");
                if (confirm("Bạn có chắc chắn muốn đổi quyền user?")) {
                    const xhr = new XMLHttpRequest();
                    xhr.open("POST", `/quan-ly-tai-khoan/change/${propertyId}`, true);
                    xhr.setRequestHeader("Content-Type", "application/json");
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState === XMLHttpRequest.DONE) {
                            if (xhr.status === 200) {
                                showNotification("Thay đổi quyền thành công", "success");
                                setTimeout(() => location.reload(), 2000);
                            } else {
                                showNotification("Thay đổi quyền thất bại", "danger");
                            }
                        }
                    };
                    xhr.send();
                }
            });
        });


    });


</script>